:root {
    --font: 'Lato', sans-serif;
    --size: 16pt;
    --text: 255, 255, 255; /* White, non-content text */
    --textinner: 20,20,20; /* Black-ish content text */
    --bg: 9,54,109; /* Dark blue, bg/waves */
	--bg2: 0,159,255; /* Bright cyan/blue */
    --post: 230, 230, 230; /* Almost White */
    --link: 0,159,255; /* Bright cyan/blue */
    --hover: 251,158,59; /* Bright orange */
	--footer: 9,54,109; /* Dark blue, footer */
    --radius: 8px; /* Rounded corners */
    --blur: 6px; /* Glassiness */
    --alpha: 0.7;
    --opaque: 1;
    --gradient1: rgba(var(--bg2), var(--opaque));
    --gradient2: rgba(var(--bg), var(--opaque));
    --highlight: rgba(var(--link), calc(var(--alpha) / 5));
    --highlight2: rgba(var(--hover), calc(var(--alpha) / 5));
    --waves: rgba(var(--bg), calc(var(--alpha) /1.4));
    /* Sidebar location calculations */
    --space: 2rem;
    --space-xs: calc(var(--space) / 3);
    --space-sm: calc(var(--space) / 2);
    --space-md: calc(var(--space) * 2.5);
    --padding: 20px;
}

#bgCanvas {
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    float: top;
    background: linear-gradient(120deg, var(--gradient1) 0%, var(--gradient2) 100%) fixed;
    display: none; /* Toggled in bubbles.js (performance) */
}

#site_links {
	line-height: 1.5;
}

body, html {
    font-family: var(--font);
    font-size: var(--size);
    color: rgba(var(--text), var(--alpha));
    height: 100%;
    margin: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

body { 
    background: transparent;
}

::-moz-selection {
    background: rgba(var(--hover), var(--alpha));
}

::selection {
    background: rgba(var(--hover), var(--alpha));
}

.navbar {
    -webkit-box-shadow: 0 -2px 7px #000;
    -moz-box-shadow: 0 -2px 7px #000;
    box-shadow: 0 -2px 7px #000;
}

ul {
    display: table-cell;
}

.flex {
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    background: transparent;
}

.flex .row {
    border: 0;
}

.flex .row.top {
    flex: 0 1 auto;
}

.flex .row.middle {
    flex: 1 1 auto;
    display: block;
    background: var(--waves);
}

.flex .row.bottom {
    flex: 0;
    background: var(--waves);
    height: auto;
    margin-top: 50px;
}

table {
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr, td {
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}

a, a:visited, a:active {
    color: rgba(var(--link), var(--opaque));
    text-decoration: none;
}

a:hover {
    color: rgba(var(--hover), var(--opaque));
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: rgba(var(--text), var(--opaque));
    font-family: var(--font);
    margin-top: 0px;
    margin-bottom: 0px;
}

.highlight {
    background: var(--highlight);
}

.highlight2 {
    background: var(--highlight2);
}

/* Header */

.header {
    position: relative;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.header-inner {
    margin-top: 0;
	color: rgba(var(--text),var(--opaque))
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    opacity: 0.5;
}

/* Page Content */
.wrap {
    margin: var(--padding);
    display: flex;
}

.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5 {
    color: rgba(var(--textinner),var(--opaque));
    font-weight: bold;
    font-variant: all-small-caps;
    margin: var(--padding);
}

.wrap p {
    font-size: var(--size);
    margin: 2% 1% 2% 1%;
}

.wrap p a {
    font-weight: bold;
}

#wrap {
    text-align: left;
    background: rgba(var(--post), var(--opaque));
    background: linear-gradient(140deg, rgba(var(--post), var(--opaque)) 0%, rgba(var(--post), var(--alpha)) 78%, rgba(var(--bg2), var(--alpha)) 140%) fixed;
    color: rgba(var(--textinner), var(--opaque));
    box-shadow: 0px 6px 1px 0px rgba(var(--bg), var(--opaque));
    padding: var(--padding);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(var(--post), var(--alpha));
    -webkit-box-shadow: rgb(0 0 0 / 30%) 0px 2px 9px 3px -moz-box-shadow: 0 -2px 7px #000;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 9px 3px;
    border: 1px solid rgba(var(--text), var(--opaque));
    border-radius: var(--radius);
}

#main {
    width: 80%;
}

.content {
    width: 100%;
    max-width: 100%;
    color: rgba(var(--text), var(--alpha));
    ;
    display: inline-block;
}

.cheatcode {
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(0deg, #00000054, transparent);
}

.bloglinks a {
    padding-top: 5px;
}

.blogtype {
    margin-bottom: 10px;
    margin-top: 50px;
}

.blogdivider {
    background-image: linear-gradient(to right, rgba(var(--text), var(--opaque)), transparent);
    height: 4px;
    margin-bottom: 10px;
}

.blogdate {
    color: rgba(var(--text), var(--alpha));
    vertical-align: bottom;
    width: 35%;
    text-align: center;
}

footer {
    backdrop-filter: blur(var(--blur));
    background: rgba(var(--bg), var(--alpha));
    padding: var(--padding);
    font-size: calc(var(--size) / 1.3);
}

.amicitia-svg {
    height: 54px;
}

/* Sidebar Menu */

#sidebartoggle {
    width: 30%;
    right: 0;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
    max-width: 100%;
}

main > * {
    margin-bottom: 0;
    margin-left: var(--space-md);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.sidebar {
    width: 250%;
}

.component {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.amicitia-logo {
    position: relative;
    left: -8px;
    display: inline-block;
    float: left;
    width: 32px;
    height: 1px;
}

.amicitia-svg {
    position: relative;
    width: 45px;
    height: 54px;
    border-bottom: 2px solid transparent;
    background: url(https://amicitia.github.io/images/logo.svg) center center/36px no-repeat;
    transition: all .1s ease-in-out 0s;
}

.component .contents {
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    background: rgba(var(--bg), var(--alpha));
    overflow-x: hidden;
}

.component .contents::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.sidebar .component {
    max-height: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    margin-bottom: calc(var(--space-md) * -1);
    margin-left: calc(var(--space-md) * -1);
}

main > * {
    margin-bottom: 0;
    margin-left: var(--space-md);
}

.component {
    position: relative;
    border: 0px;
}

.component .sidebarheader,
.component .footer {
    padding: 5px;
    text-align: center;
}

.component .sidebarheader {
    border-bottom: inherit;
}

.component .footer {
    display: flex;
    justify-content: space-between;
    border-top: inherit;
}

.component .contents {
    max-height: 200px;
    background: linear-gradient( 120deg, var(--gradient1) 0%, var(--gradient2) 100%) fixed;
    -webkit-box-shadow: rgb(0 0 0 / 30%) 0px 2px 9px 3px -moz-box-shadow: 0 -2px 7px #000;
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 9px 3px;
}

.empty-text {
    padding: var(--space);
    text-align: center;
    color: rgba(var(--text), var(--alpha));
}

.item {
    border-bottom: 5px solid transparent;
}

.item:active {
    transform: translateY(1px);
}

.item > * {
    pointer-events: none;
}

ul.items.list a {
    display: block;
}

.info {
    width: 100%;
    margin-left: 20px;
}

.title,
.subtitle {
    width: 100%;
    height: 0.5rem;
    border-radius: var(--radius);
}

.title {
    margin-bottom: 23px;
    font-size: 20pt;
    padding: 8px;
}

.subtitle {
    font-size: 12pt;
}

.thumbnail {
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border-radius: var(--radius);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--space-sm);
}

.grid .item {
    flex-direction: column;
    text-align: center;
}

.grid .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid .thumbnail {
    --size: 100px;
    margin-bottom: var(--space);
}

.list .item {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.list .thumbnail {
    --size: 50px;
    font-size: 30pt;
}

.item:hover {
    border-bottom: 5px solid rgba(var(--text), var(--opaque));
}

.button:active {
    transform: translateY(1px);
    box-shadow: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    right: 0;
    position: fixed;
    z-index: 20;
    width: 50px;
    top: 15px;
    max-width: var(--space-md);
}

.spinner {
    height: 4px;
    width: 100%;
    background: rgba(var(--text), var(--opaque));
}

.horizontal {
    position: relative;
    float: left;
    margin-top: 10px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 10px;
}

input[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
    transition: all 0.25s;
}

input[type=checkbox] {
    transition: all 0.25s;
    box-sizing: border-box;
}

.sidebar ul {
    padding-left: 0;
    display: block;
    margin: 0;
}

/* Amicitia.Github.io */

.copied {
    z-index: 30;
    position: fixed;
    top: var(--space-md);
    background: rgba(var(--bg), var(--opaque));
    text-align: center;
    width: 100%;
    display: none;
}

/* Dropdown */
select {
    background: rgba(var(--post), var(--alpha));
    color: rgba(var(--link), var(--opaque));
    border-radius: var(--radius);
    text-align-last: center;
    min-height: 26px;
    border: 1px solid rgba(var(--link), var(--opaque));
    margin-left: 2%;
}

select:hover {
    color: rgba(var(--hover), var(--opaque));
    border: 1px solid rgba(var(--hover), var(--opaque));
}

select:active {
    outline: none;
}

select option {
    color: rgba(var(--post), var(--opaque));
    background: rgba(var(--textinner), var(--opaque));
}

.headerselect select {
    appearance: none;
    background: transparent;
    color: rgba(var(--text), var(--opaque));
    border: 0;
    outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: 300;
}

.subheaderselect select {
    appearance: none;
    background: transparent;
    color: rgba(var(--text), var(--opaque));
    border: 0;
    outline: none;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-size: 3em;
    line-height: 1.2em;
    padding: 0;
    margin: -15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato';
}

.headerselect select:hover, .subheaderselect select:hover {
    text-decoration: underline;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


/* Button */

.button-css {
    background: rgba(var(--bg), var(--opaque));
    color: rgba(var(--text), var(--opaque));
    border-radius: var(--radius);
    min-height: 26px;
    border: 1px solid rgba(var(--link), var(--opaque));
}

.button-css:hover {
    background: rgba(var(--bg), var(--opaque));
    color: rgba(var(--text), var(--opaque));
    border-radius: var(--radius);
    min-height: 26px;
    border: 1px solid rgba(var(--hover), var(--opaque));
}

.textbox-css {
    background: rgba(var(--bg), var(--opaque));
    color: rgba(var(--text), var(--opaque));
    border-radius: var(--radius);
    min-height: 26px;
    border: 1px solid rgba(var(--link), var(--opaque));
}

/* Pagination */
.pagination {
    padding: 3rem 3rem 0;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: bold;
}

a.page-numbers:hover {
    background: rgba(var(--hover), var(--opaque));
    padding: var(--padding);
    transition: all .2s;
    margin: 0 2px;
    text-decoration: none;
    color: rgba(var(--text), var(--opaque));
}

a.page-numbers {
    background: rgba(var(--link), var(--opaque));
    padding: var(--padding);
    border-radius: 2px;
    color: rgba(var(--text), var(--opaque));
    transition: all .2s;
    margin: 0 2px;
}

.current {
    color: rgba(var(--textinner), var(--opaque));
    padding: var(--padding);
    border-radius: var(--radius);
}

/* Posts */
.card img:hover {
    transform: scale(1.1);
}

.toggle-title img, .toggle-inner img {
    display: block;
    object-fit: contain;
    width: 100%;
    transition: all .3s ease;
    height: auto;
    max-width: 100%;
    border-radius: var(--radius);
    cursor: pointer;
}

.toggle-title img {
    max-height: 50px;
}

.entry-content {
    word-wrap: break-word;
    color: #ccc;
}

.card__body {
    padding: 20px 20px 0px 20px;
}

.tags-links {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .tags-links {
        flex-basis: 50%;
    }
}

.tag-cloud-link, .tags-links a, button {
    display: inline-block;
    background: rgba(var(--link), var(--opaque));
    color: rgba(var(--text), var(--opaque));
    padding: .2em 1em;
    border-radius: var(--radius);
    transition: all .2s;
    margin: 0 .25rem .5rem 0;
    text-transform: lowercase;
}

.tag-cloud-link:hover, .tags-links a:hover, button:hover {
    background: rgba(var(--hover), var(--opaque));
    color: rgba(var(--text), var(--opaque));
    text-decoration: none;
}

input[type="button"] {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 200px;
}

.photothumb {
    width: 100%;
}

.title h3 {
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
}

.project .title {
    background: #607D8B;
}

.blog .title {
    background: #ff9800;
}

.photo .title {
    background: #f44336;
}

.desc {
    padding: 10px 10px 5px 10px;
}

.desc img {
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
}

.desc p {
    margin-bottom: 10px;
}

.toggle {
    padding-top: var(--padding);
}

.toggle-title .post {
    vertical-align: top;
    cursor: pointer;
}

.toggle-inner {
    display: none;
}

.active.toggle-title .post {
    background: var(--highlight);
}

.toggle-title .post:hover {
    background: var(--highlight2);
}

.toggle-inner .post {
    vertical-align: top;
}

.postinner {
    padding: var(--padding);
    background: var(--highlight);
    vertical-align: top;
}

/* Wave Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    fill: var(--waves);
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

/* kill parallax animations (performance) */
.noanimation {
    animation: none !important;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}

/* Color Picker */

#colorpicker {
	table-layout: auto;
}

#settings {
    font-size: 16pt !important;
}

/*Shrinking for mobile*/
@media (max-width: 1024px) {
	#colorpicker {
		table-layout: fixed;
	}

    :root {
        --size: 13pt;
    }

    footer {
		font-size: calc(var(--size) / 1.2);
    }

    .bloglinks {
        display: none;
    }

    #main {
        width: 100%;
    }

    .card img {
        max-height: 100px;
    }
	
	#site_disclaimer {
		font-size: 8pt !important;
	}
}

/* Scrollbars */

.component .contents::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar {
    width: 8px;
}
/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    background-color: rgba(var(--bg), var(--opaque));
}
/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--link), var(--opaque));
    border-radius: var(--radius);
}
/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: rgba(var(--bg), var(--opaque));
}
/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: rgba(var(--bg), var(--opaque));
}
/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/* FeedEk */
.feedEkList{width:450px; list-style:none outside none; padding:4px 6px; }
.feedEkList li{padding:5px; }
.feedEkList li:last-child{border-bottom:none; }
.itemTitle a{font-weight:bold; }
.itemTitle a:hover{ text-decoration:underline; }
.itemDate{font-size:14pt;}
#blog-latest .itemDate, #news-latest .itemDate, #guides-latest .itemDate {
    color: rgba(var(--textinner), var(--opaque));
}