<div class="text">
						If you need dumped CPK or CVM contents for modding purposes,<br>
						check the links below to download what you need.
						<br><br><b>NOTE:</b> Files necessary to actually run the games are <b>not included</b>.
						<br>These are provided for research and development purposes only.
						<br><br>
						<table>
							<tbody>
								<tr>
									<td><b>Game</b></td>
									<td><b>Platform</b></td>
									<td><b>Links</b></td>
								</tr>
								<tr>
									<td>Persona 3 FES</td>
									<td>PS2</td>
									<td><a href="https://drive.google.com/open?id=1lwDD1K4OrsL3cmrSA34kMpP6BN4fDEyS">DATA.CVM</a>, <a href="https://drive.google.com/open?id=1IrxpgxO9in1-Q2C66mAEZLYrBj_rKHII">BTL.CVM</a>, <a href="https://drive.google.com/open?id=1ZywKGOJJMqAzfO1wQOG15a9ORsUB-wUe">BGM.CVM</a></td>
								</tr>
								<tr>
									<td>Persona 4</td>
									<td>PS2</td>
									<td><a href="https://drive.google.com/open?id=1Nn_Rnbqu0q_wGOlfB1KuR07nb9ykVoMI">DATA.CVM</a>, <a href="https://drive.google.com/open?id=1SDHsJ6joFROW0mxd-RZaS8RG_naGkCJm">BTL.CVM</a>, <a href="https://drive.google.com/open?id=1VIXrbkPaiqpllu7adNJ43yyQusUs3Vas">BGM.CVM</a>, <a href="https://drive.google.com/open?id=19HER0Kdk-QWyLxaNu0CdILcakG2Q188Y">ENV.CVM</a></td>
								</tr>
								<tr>
									<td>Persona 3 Portable</td>
									<td>PSP</td>
									<td><a href="https://drive.google.com/open?id=1z10TQQExwPBXIy1mTHzXZ7ihd6YoEabK">UMD0.CPK</a>, <a href="https://drive.google.com/open?id=1JXoqIalodZcK2uiiO_Xiu6V_9a1JXZQ7">UMD1.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 4 Golden</td>
									<td>PSVita</td>
									<td><a href="https://drive.google.com/open?id=1Y1LCy8lbG72k_8wdGQGgB5EqTgQ1zxjL">DATA.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 4 Golden</td>
									<td>PC</td>
									<td><a href="https://drive.google.com/drive/folders/1jfx8VgIT8B7taKo_TTQ6aE27BOAmFRgC">DATA.CPK</a>, <a href="https://drive.google.com/drive/folders/1kyYQ3nF6BSw3K9oOBh6CIlVZE7qauMyX">MOVIE.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 4 Arena Ultimax</td>
									<td>PS3</td>
									<td><a href="https://mega.nz/folder/dUYynRKJ#GrejCBcAP86-P62mBFwjpg">Data + Updates</a></td>
								</tr>
								<tr>
									<td>Persona 5</td>
									<td>PS3</td>
									<td><a href="https://drive.google.com/open?id=1Ldv8Fp_QodzlowO71doYTPn8aoHYbWdW">DATA.CPK</a>, <a href="https://drive.google.com/open?id=1kGtwEvSj92c-gBfZCTeUquEADm27IC9v">PS3.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 4 Dancing</td>
									<td>PSVita</td>
									<td><a href="https://drive.google.com/open?id=1eIgE_iKotz3KV2mGZKR8itMssQnPW9xK">DATA.CPK</a>, <a href="https://drive.google.com/open?id=1DOS_YO7xXj-ybG-eRS5tgG9q0Ltg2fNP">VITA.CPK</a>, <a href="https://drive.google.com/open?id=1lkR7xKM2gFryf8yH8bQROePBRt_FNZV1">PATCH.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 3/5 Dancing</td>
									<td>PSVita</td>
									<td><a href="https://drive.google.com/open?id=1OEqlcSsQH6BjgwXp-HrG7YxoB2TfNWwg">DATA.CPK</a>, <a href="https://drive.google.com/open?id=1JkQ75pLCATUg_SzN3y_AiaGhqQ2h0u4E">VITA.CPK</a></td>
								</tr>
								<tr>
									<td>Catherine Full Body</td>
									<td>PSVita</td>
									<td><a href="https://drive.google.com/drive/folders/1uUnDYAgsYf-unVdd7XFqlQsIL6m66mga">All CPKs</a>
								</td>
								</tr><tr>
									<td>Catherine Full Body</td>
									<td>Switch</td>
									<td><a href="https://drive.google.com/file/d/17ALKxHGDNF71OmW8WQHrjXpXvF43g_uW/view?usp=sharing">All CPKs</a>
								</td>
								</tr>
								<tr>
									<td>Persona 5 Royal</td>
									<td>PS4</td>
									<td><a href="https://mega.nz/folder/tRoiXaJT#E4o113L5k50VsEjD2rC8rg">DATAR.CPK, PS4R.CPK, DATAR_F/G/I/S.CPK, PATCH1R.CPK</a></td>
								</tr>
								<tr>
									<td>Persona 5 Strikers (USA)</td>
									<td>Switch</td>
									<td><a href="https://drive.google.com/drive/folders/1WAyp87vxhf16rvCoyU4I7JxLCLqp5VEb?usp=sharing">Data</a></td>
								</tr>
								<tr>
									<td>Persona 5 Scramble (JP)</td>
									<td>Switch</td>
									<td><a href="https://drive.google.com/file/d/1NsFBkXQqKwHuSMmHyJa6S48OrYxb5AOD/view?usp=sharing">Data</a></td>
								</tr>
								<tr>
									<td>Tokyo Mirage Sessions FE Encore</td>
									<td>Switch</td>
									<td><a href="https://drive.google.com/file/d/1oDtIBeR8pTkap9ZWWth2bOLER8ukeWA0/view?usp=sharing">Data</a></td>
								</tr>
								<tr>
									<td>SMT NOCTURNE HD (JP)</td>
									<td>Switch</td>
									<td><a href="https://drive.google.com/file/d/1FkkjUZkMWMALlize3uQobe-ctDrLRETq/view?usp=sharing">Data</a></td>
								</tr>
							</tbody>
						</table>
					</div>