<!--Middle-->
<div class="row middle">
    <!--Page Body-->
    <div class="content">
        <table>
            <!--Sidebar-->
            <tr>
                <td style="vertical-align:top;">
                    <div class="bloglinks">
                        <div class="blogtype">
                            <table>
                                <tr>
                                    <td>
                                        <a href="https://shrinefox.com/news/">
                                            <h4>
                                                <i class="fas fa-newspaper"></i> News
                                            </h4>
                                        </a>
                                    </td>
                                    <td class="blogdate">
                                        Dec 20
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="blogdivider"></div>
                        <h4 style="margin-left: 10px;">
                            <a href="https://amicitia-team.tumblr.com/post/638012597777629184">Modding Support for P5R USA!</a>
                        </h4>
                        <br>
                        <div class="blogtype">
                            <table>
                                <tr>
                                    <td>
                                        <a href="https://shrinefox.com/guides/">
                                            <h4>
                                                <i class="fas fa-graduation-cap"></i> Guides
                                            </h4>
                                        </a>
                                    </td>
                                    <td class="blogdate">
                                        Jan 21
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="blogdivider"></div>
                        <h4 style="margin-left: 10px;">
                            <a href="https://shrinefox.com/guides/2020/09/30/modding-persona-5-royal-jp-on-ps4-fw-6-72/">Modding P5R USA on PS4 FW 5.05 - 6.72</a>
                        </h4>
                    </div>
                </td>
                <td id="main">