<!--Middle-->
<div class="row middle">
    <!--Page Body-->
    <div class="content">
        <table>
            <!--Sidebar-->
            <tr>
                <td style="vertical-align:top;">
                    <div class="bloglinks">
                        <a href="https://shrinefox.com/news/">
                            <h4>
                                <i class="fas fa-newspaper"></i> News
                            </h4>
                        </a>
                        <div class="blogdivider"></div>
                        <div id="news-feed"></div>
                        <br>
                        <a href="https://shrinefox.com/guides/">
                            <h4>
                                <i class="fas fa-graduation-cap"></i> Guides
                            </h4>
                        </a>
                        <div class="blogdivider"></div>
                        <div id="guides-feed"></div>
                        <br>
                        <a href="https://shrinefox.com/blog/">
                            <h4>
                                <i class="fab fa-wordpress"></i> Blog
                            </h4>
                        </a>
                        <div class="blogdivider"></div>
                        <div id="blog-feed"></div>
                    </div>
                    <script>
						$('#news-feed').FeedEk({
							FeedUrl:'https://shrinefox.com/news/feed',
							MaxCount : 3,
							ShowDesc : false,
							ShowPubDate:true,
							DescCharacterLimit:0,
							TitleLinkTarget:'_blank',
							DateFormat: 'MMM d',
							DateFormatLang:'en'
						});

						$('#guides-feed').FeedEk({
							FeedUrl:'https://shrinefox.com/guides/feed',
							MaxCount : 3,
							ShowDesc : false,
							ShowPubDate:true,
							DescCharacterLimit:0,
							TitleLinkTarget:'_blank',
							DateFormat: 'MMM d',
							DateFormatLang:'en'
						});

						$('#blog-feed').FeedEk({
							FeedUrl:'https://shrinefox.com/blog/feed',
							MaxCount : 3,
							ShowDesc : false,
							ShowPubDate:true,
							DescCharacterLimit:0,
							TitleLinkTarget:'_blank',
							DateFormat: 'MMM d',
							DateFormatLang:'en'
						});
                    </script>
                </td>
                <td id="main">
