<!doctype html>
<html>
<head>
    <link rel='shortcut icon' href='images/favicon.png' type='image/x-icon' />
    <meta charset="utf-8">
    <title>Amicitia Mods</title>
    <link href="https://shrinefox.com/css/index.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/waves.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/grid.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/post.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/select.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/pagination.css" rel="stylesheet" type="text/css">
    <link href="https://shrinefox.com/css/amicitia.css" rel="stylesheet" type="text/css">
    <script src="https://shrinefox.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://shrinefox.com/js/bubbles.js"></script>
    <script src="https://shrinefox.com/js/clipboard.js"></script>
    <script src="https://shrinefox.com/js/showhide.js"></script>
    <script src="https://shrinefox.com/js/hidenav.js"></script>
    <script src="https://shrinefox.com/js/navigation.js"></script>
    <script src="https://kit.fontawesome.com/4c3075832a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <script data-ad-client="ca-pub-9519592525056753" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <main>
        <div class="copied">Cheat copied to clipboard!</div>
        <div id="wrapper">
            <div id="wrapper">
                <!--Navbar-->
                <div class="navbar" style="top: 0px;">
                    <div class="navbar-container">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width: 95px;padding-left: 20px;">
                                        <label for="openSidebarMenu" class="sidebarIconToggle">
                                            <div class="spinner diagonal part-1"></div>
                                            <div class="spinner horizontal"></div>
                                            <div class="spinner diagonal part-2"></div>
                                        </label>
                                    </td>
                                    <td>
                                        <div class="navbar-outer">
                                            <div class="navbar-inner">
                                                <a href="https://amicitia.github.io">
                                                    <div class="navbar-item">
                                                        <div class="amicitia-logo">
                                                            <div class="amicitia-svg"></div>
                                                        </div>Mods
                                                    </div>
                                                </a>
                                                <!--Top Navbar-->
                                                <a href="https://shrinefox.com/news">
                                                    <div class="navbar-item">
                                                        <span><i class="fa fa-newspaper" aria-hidden="true"></i>&nbsp;News</span>
                                                    </div>
                                                </a>
                                                <a href="https://shrinefox.com/guides">
                                                    <div class="navbar-item">
                                                        <span><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Guides</span>
                                                    </div>
                                                </a>
                                                <a href="https://shrinefox.com/blog">
                                                    <div class="navbar-item">
                                                        <span><i class="fab fa-wordpress" aria-hidden="true"></i>&nbsp;Blog</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Sidebar Toggle-->
                <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" style="position: fixed;display:none;">
                <aside class="sidebar">
                    <div class="component">
                        <div class="contents">
                            <ul class="items list">
                                <!--Sidebar Items-->
                                <div class="sidebarheader">
                                    <i class="fa fa-cube" aria-hidden="true"></i> &nbsp;&nbsp;Resources
                                </div>
                                <a href="https://amicitia.miraheze.org/wiki/Main_Page">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-users" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Wiki</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://shrinefox.com/forum">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Support Forum</div>

                                        </div>
                                    </div>
                                </a>
                                <a href="https://shrinefox.com/forum/app.php/faqpage">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Frequently Asked Q&amp;A</div>
                                        </div>
                                    </div>
                                </a>
                                <br>
                                <div class="sidebarheader">
                                    <i class="fa fa-terminal" aria-hidden="true"></i>&nbsp;&nbsp;Apps
                                </div>
                                <a href="https://shrinefox.com/textsearch">
                                    <div class="item">
                                        <div class="thumbnail">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                        <div class="info">
                                            <div class="title">&nbsp;Text Search</div>
                                            <div class="subtitle">&nbsp;Locate Files With Dialog</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://amicitia.github.io/docs/flowscript">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-file-code" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Flowscript Docs</div>
                                            <div class="subtitle">&nbsp;Learn .flow/.msg</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://amicitia.github.io/files">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-folder-open" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Files</div>
                                            <div class="subtitle">&nbsp;Download assets</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://shrinefox.com/PatchCreator">
                                    <div class="item">
                                        <div class="thumbnail"><i class="fa fa-check-square" aria-hidden="true"></i></div>
                                        <div class="info">
                                            <div class="title">&nbsp;Patch.yml Creator</div>
                                            <div class="subtitle">&nbsp;P5 RPCS3 Patches</div>
                                        </div>
                                    </div>
                                </a>
                            </ul>
                        </div> <!--End Contents-->
                    </div>  <!--End Component-->
                </aside>  <!--End Sidebar Menu-->
                <div class="article">
                    <!--Header-->
                    <div class="header">
                        <canvas id="bgCanvas" width="715" height="722" style=""></canvas>
                        <center>
                            <div class="header-inner" style="margin-top: 150px;">
                                <!--Title-->
                                <h1>
                                    <span class="underline-on-hover">game</span>
                                    <select class="select-css" onchange="navigate()" id="game" name="game">
                                        <option value="" disabled=""></option>
                                        <option value="All">All</option>
                                        <option value="P5">Persona 5</option>
                                        <option value="P5R">Persona 5 Royal</option>
                                        <option value="P5S">Persona 5 Strikers</option>
                                        <option value="P5D">Persona 5 Dancing in Starlight</option>
                                        <option value="P4">Persona 4</option>
                                        <option value="P4G">Persona 4 Golden</option>
                                        <option value="P4AU">Persona 4 Arena Ultimax</option>
                                        <option value="P4D">Persona 4 Dancing All Night</option>
                                        <option value="P3FES">Persona 3 FES</option>
                                        <option value="P3P">Persona 3 Portable</option>
                                        <option value="P3D">Persona 3 Dancing in Moonlight</option>
                                        <option value="PQ">Persona Q</option>
                                        <option value="PQ2">Persona Q2</option>
                                        <option value="CFB">Catherine Full Body</option>
                                        <option value="SMT3">Shin Megami Tensei Nocturne</option>
                                    </select>
                                    <span class="underline-on-hover">mods &amp; resources</span>
                                    <select class="select-css" onchange="navigate()" id="type" name="type">
                                        <option value="" disabled=""></option>
                                        <option value="All">All</option>
                                        <option value="Mod">Mods</option>
                                        <option value="Tool">Tools</option>
                                        <option value="Cheat">Cheats</option>
                                        <option value="Guide">Guides</option>
                                    </select>
                                </h1>
                        </center>
                        <!--Waves-->
                        <div>
                            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                                <defs>
                                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                </defs>
                                <g class="parallax">
                                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(17,17,17,0.33)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(17,17,17,0.6)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(17,17,17,0.6)"></use>
                                    <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(17,17,17,1)"></use>
                                </g>
                            </svg>
                        </div>
                        <!--Waves End-->
                    </div>
                    <!--Header End-->
                </div>
                <!--Article End-->
            </div>
