<div class="content">
    <table>
        <tbody>
            <tr>
                <td style="vertical-align:top;width: 25%;padding-left: 10px;">
                    <div class="bloglinks">
                        <a href="https://amicitia-team.tumblr.com/">
                            <h3>
                                <i class="fas fa-newspaper" aria-hidden="true"></i> News
                            </h3>
                        </a>
                        <div class="widget">
                            <h5><a href="https://amicitia-team.tumblr.com/post/638012597777629184">Modding Support for P5R USA!</a></h5><br> 12/20/20
                            <br>
                        </div>
                        <a href="https://shrinefox.com/guides/">
                            <h3>
                                <i class="fas fa-graduation-cap" aria-hidden="true"></i> Guides
                            </h3>
                        </a>
                        <div class="widget">
                            <h5><a href="https://shrinefox.com/guides/2020/09/30/modding-persona-5-royal-jp-on-ps4-fw-6-72/">Modding P5R USA on PS4 FW 5.05 - 6.72</a></h5><br> 1/11/2021
                        </div>
                        <br>
                    </div>
                </td>
                <td width="75%" style="width: 75%;padding-right: 20px;">
                    <div class="text">