                                </tr>
							</tbody>
						</table>
                        <!--Pagination-->
                        <br>
                        <br>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
<br>
<!--Footer-->
<footer style="backdrop-filter: blur(6px);background-color: rgba(17,17,17,0.7);padding-left: 50px;padding-top: 25px;color: #ffffff7f;">
    <table>
        <tbody>
            <tr>
                <td style="vertical-align: top;width: 25%;">
                    <h4>About</h4>
                    <center>
                        <img src="https://pbs.twimg.com/profile_images/1347312450895572993/ZfHnzfcq_400x400.jpg" style="clip-path: circle(39px at center);width: 75px;">
                    </center>
                    <br>
                    <a href="https://shrinefox.com/">ShrineFox</a> is passionate about customizing games, consoles and devices.
                    <br>This site explores cutting-edge jailbreaking techniques for beginners and end-users.
                </td>
                <td style="vertical-align: top;width: 35%;padding-left: 20px;">
                    <h4>Social Links</h4>
                    <br><a href="https://www.youtube.com/c/ShrineFox"><i class="fa fa-youtube" aria-hidden="true"></i> <b>YouTube</b></a>
                    <br><br><a href="https://twitter.com/ShrineFoxMods"><i class="fa fa-twitter" aria-hidden="true"></i> <b>ShrineFox</b></a>
                    <br><br><a href="https://twitter.com/AmicitiaTeam"><i class="fa fa-twitter" aria-hidden="true"></i> <b>AmicitiaTeam</b></a>
                    <br><br><a href="https://github.com/ShrineFox"><i class="fa fa-github" aria-hidden="true"></i> <b>GitHub</b></a>
                    <br><br><a href="https://discord.gg/9USHGmB"><i class="fab fa-discord" aria-hidden="true"></i> <b>Discord</b></a>
                </td>
                <td style="width: 40%;vertical-align: top;padding-right: 20px;">
                    <h4>Disclaimer</h4>
                    <br><br>
                    We are NOT affiliated, associated, authorized, endorsed by, or in any way
                    officially connected with ATLUS, SEGA, or any of its subsidiaries or its affiliates.
                    The official ATLUS website can be found at <a href="https://atlus.com/">https://atlus.com</a>. ATLUS and SEGA are
                    registered in the U.S. Patent and Trademark Office. ATLUS and PERSONA are
                    either registered trademarks or trademarks of ATLUS Co., Ltd. or its affiliates.
                    <br><br><a href="https://shrinefox.com/credits"><i class="fa fa-heart" aria-hidden="true"></i> <b>Site Credits</b></a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <center>
        <!--AdSense-->
        <br>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-hx+4+s-4m+70" data-ad-client="ca-pub-9519592525056753" data-ad-slot="8263745709"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        <br>
        <!--Credits-->
        <br>© ShrineFox 2020 - 2021. <a href="https://ko-fi.com/shrinefox"><i class="fa fa-coffee" aria-hidden="true"></i> Support</a>
        <br><br>
    </center>
</footer>
			</div>
<!--Wrapper End-->
			</div>
		</form>
		</main>
	</body>
</html>