<script src="https://amicitia.github.io/js/jquery-3.3.1.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/4c3075832a.js" crossorigin="anonymous"></script>
<script data-ad-client="ca-pub-9519592525056753" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link href="https://amicitia.github.io/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="https://amicitia.github.io/css/amicitia.css" rel="stylesheet" type="text/css">
<script src="https://amicitia.github.io/js/bubbles.js"></script>
<script src="https://amicitia.github.io/js/clipboard.js"></script>
<script src="https://amicitia.github.io/js/showhide.js"></script>
<script src="https://amicitia.github.io/js/hidenav.js"></script>
<script src="https://amicitia.github.io/js/navigation.js"></script>
<script type="text/javascript" src="https://amicitia.github.io/js/FeedEk.min.js"></script>
<script type="text/javascript" src="https://amicitia.github.io/js/jscolor.js"></script>
<link rel="stylesheet" href="https://amicitia.github.io/css/css3menu.css" type="text/css" />
<style type="text/css">._css3m {display: none;}</style>