<div class="wrap">
    <table id="wrap" style="width: 150%;">
        <tbody>
            <tr>
                <td style="width: 100%; display: inline-flex;">
                    Game: 
                    <select id="game" name="game" onchange="navigate()" style="width: 50%;flex-grow: 100;">
                        <option value="All"></option>
                        <option value="p5">Persona 5</option>
                        <option value="p5r">Persona 5 Royal</option>
                        <option value="p5s">Persona 5 Strikers</option>
                        <option value="p5d">Persona 5 Dancing in Starlight</option>
                        <option value="p4">Persona 4</option>
                        <option value="p4g">Persona 4 Golden</option>
                        <option value="p4au">Persona 4 Arena Ultimax</option>
                        <option value="p4d">Persona 4 Dancing All Night</option>
                        <option value="p3fes">Persona 3 FES</option>
                        <option value="p3p">Persona 3 Portable</option>
                        <option value="p3d">Persona 3 Dancing in Moonlight</option>
                        <option value="pq">Persona Q</option>
                        <option value="pq2">Persona Q2</option>
                        <option value="cfb">Catherine Full Body</option>
                        <option value="smt3">Shin Megami Tensei Nocturne</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="wrap" style="margin-left: var(--padding);">
        <tbody>
            <tr>
                <td style="width: 100%; display: inline-flex;">
                    Type: 
                    <select id="type" name="type" onchange="navigate()" style="width: 50%;flex-grow: 100;">
                        <option value="all"></option>
                        <option value="mods">Mods</option>
                        <option value="tools">Tools</option>
                        <option value="cheats">Cheats</option>
                        <option value="guides">Guides</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>