<div class="card">
    <a class="card__media" href="POSTMEDIAURL" title="Media">
        <img src="POSTMEDIAURL" class="wp-post-image">
        <div class="card__body">
            <header class="card__header">
                <a class="card__subtitle" title="Category">
                    POSTTYPE
                </a>
                <h3 class="card__title">
                    <a title="Title" href="POSTURL">POSTTITLE</a>
                </h3>
                by POSTAUTHORS
            </header>
            <div class="card__content">
                <p>
                    POSTDESCRIPTION
                </p>
            </div>
            <span class="tags-links">POSTTAGS</span>
            <table style="margin-top: var(--padding);">
                <tbody>
                    <tr>
                        <td title="Last Updated"><i class="fas fa-history" aria-hidden="true"></i> POSTDATE</td>
                        <td style="text-align: right;">
                            <a title="More Information" href="POSTURL" style=""><i class="fas fa-ellipsis-h" aria-hidden="true"></i><span class="sr-only">More Information</span> Read More</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>