<td style="display: inline-block;padding: 10px;max-width: 32%;min-width: 32%;vertical-align: top;">
    <div class="card">
        <div class="text">
            <div class="toggle-title">
                <a href="POSTID"><div class="getlink" style="z-index: 999;"><i class="fas fa-link" aria-hidden="true"></i></div></a>
                <a href="POSTMEDIAURL"><div class="getlink" style="right: auto; left: 0; z-index: 999;"><i class="fas fa-eye" aria-hidden="true"></i></div></a>
                POSTEMBED
                <div class="card__body">
                    POSTTYPE by POSTAUTHORS
                    <h4>
                        <a href="POSTURL">POSTTITLE</a>
                    </h4>
                    <br>POSTDATE<br>
                </div>
            </div>
            <div class="toggle-inner" style="display: none;padding: 0 10px 0 10px;">
                <p style="padding: 0 20px 0px 20px;">
                    POSTDESCRIPTION
                    <br><br>
                    <span class="tags-links">
                        POSTTAGS
                    </span>
                </p>
            </div>
        </div>
        <br>
    </div>
</td>