<!--Result Count and Submission Link-->
<table style="padding: 0 20px 0 15px;">
    <tbody>
        <tr>
            <td width="25%">Page 0/0 (0 results)</td>
            <td width="50%"><!--Pagination--></td>
            <td width="25%" style="text-align: right;">
                <a href="https://shrinefox.com/forum/viewtopic.php?f=4&amp;t=682&amp;p=2649#p2649">
                    <i class="fa fa-upload" aria-hidden="true"></i> How to Submit
                </a>
            </td>
        </tr>
    </tbody>
</table>
<br>
<!--Post Grid-->
<table>
    <tbody>
        <tr style="width:100%;">