<h1>Importing</h1>
						As seen in the <a href="https://amicitia.github.io/docs/messagescript">Messagescript</a> tutorial, in order to use text strings in a .flow, you must reference a .msg file to get the strings from.
<br />An "import statement" usually looks like the following, at the top of the document:
<br /><pre><code>import( "field.msg" );</code></pre>
<br />The paths are relative to the .flow file, so in this case, if your .flow is at <b>C:\Users\Username\Documents\field.flow</b>, it would look for <b>field.msg</b> in the Documents folder.
<br />
<br />Once a .msg file has successfully been referenced, you can start referring to the names of messages in your .flow. When compiling, your resulting .bf will contain a .bmd made from your .msg.
			</td>
		</tr>
	</table>