<table>
    <tr>
        <td width="25%" style="vertical-align:top">
            Basics
            <br>↳ <a href="https://amicitia.github.io/docs/flowscript">Flowscript</a>
            <br>↳ <a href="https://amicitia.github.io/docs/messagescript">Messagescript</a>
            <br>↳ <a href="https://amicitia.github.io/docs/decompiling">Decompiling</a>
            <br>↳ <a href="https://amicitia.github.io/docs/compiling">Compiling</a>
            <br>
            <br>Features
            <br>↳ <a href="https://amicitia.github.io/docs/importing">Importing</a>
            <br>↳ Declaring Functions
            <br>↳ Declaring Variables
            <br>↳ <a href="https://amicitia.github.io/docs/hookingfunctions">Hooking Functions</a>
            <br>
            <br>P5 Functions
            <br>↳ AI
            <br>↳ Common
            <br>↳ Facility
            <br>↳ Field
            <br>↳ Net
            <br>↳ Social
        </td>
        <td style="width: 75%; vertical-align: top;">
